<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="afterMenu" class="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #afterMenu="matMenu" class="bruh">
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button><br>
      <button mat-button class="menu-button">
        <mat-icon>inventory_2</mat-icon>
        <span>Inventory Overview</span>
      </button><br>
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button><br>
      <button mat-button class="menu-button">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <span>Project Overview</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="add" aria-label="account-circle">
      <mat-icon>add</mat-icon>
    </button>

  </mat-toolbar>
</header>
