<h1 mat-dialog-title>Create a Field</h1>

<div mat-dialog-content>
  <p>Field details</p>

  <mat-form-field appearance="fill">
    <mat-label>Select component</mat-label>
    <select matNativeControl id="mySelectId">
      <option value="" disabled selected></option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Field Name</mat-label>
    <input matInput [(ngModel)]="data.fieldName">
  </mat-form-field><br>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.fieldName" cdkFocusInitial>Submit</button>
</div>
