.project-cards {
  max-width: 300px;
  margin-top: 100px;
  float: left;
}

.project-button {
  top: 85px;
  margin-left: 30px;
}

.attachments {
  margin-left: 2px;
}

.profile-avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.profile-avatar2 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/38/Adorable-animal-cat-20787.jpg');
  background-size: cover;
}
mat-tab-group{
  margin-top:80px;
}
mat-card{
  margin-top: 80px;
  margin-left: 30px;

}

.add{
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  color: white;
}
