<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="afterMenu" class="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #afterMenu="matMenu" class="bruh">
      <a href="/project-overview">
        <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </a><br>
      <a href="/inventory-overview">
        <button mat-button class="menu-button">
          <mat-icon>inventory_2</mat-icon>
          <span>Inventory Overview</span>
        </button>
        <br></a>
      <a href="/admin">
        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Admin</span>
        </button>
        <br></a>
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <span>Project Overview</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</header>
<!--TODO-->
<!--Rename openDialog to new_Project_Dialog in line 4-->
  <button mat-raised-button class="project-button" (click)="openProjectDialog()">Add Component</button>
<div class="lol" *ngFor="let project of allProjects">
  <mat-card class="project-cards">
    <mat-card-header>
      <div class="profile-avatar" mat-card-avatar></div>
      <mat-card-title>Project: {{project.name}}</mat-card-title>
      <mat-card-subtitle><i>Author: {{project.User.firstname}}</i></mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let attachment of project.Attachments">
    <img class="attachments" alt="attachment" mat-card-image
         src="{{attachment.attachment}}">
    </div>
    <mat-card-content>
      <p>{{project.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">EDIT</button>
      <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
