.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  position: absolute;
  top: 0;
}

.mat-menu{
  margin-top: 75px;
  background-color: red;
}
mat-icon{
  margin-right: 8px;
}

.mat-menu-panel{
  margin-top: 100px;
  background-color: red !important;
}
.bruh{
  margin-top: 90px;
}
