<h1 mat-dialog-title>Add user </h1>
<div mat-dialog-content>
  <p>User details</p>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput [(ngModel)]="data.fName">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput [(ngModel)]="data.lName">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="data.pass">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]="data.role">
  </mat-form-field><br>
  <label for="input-file-id" class="md-button md-raised md-primary">Add an image</label><br>
  <input class="ng-hide" id="input-file-id" multiple type="file" />
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="openDialog()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.fName" cdkFocusInitial>Add</button>
</div>
