<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="afterMenu" class="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #afterMenu="matMenu" class="bruh">
      <a href="/project-overview">
        <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </a><br>
      <a href="/inventory-overview">
        <button mat-button class="menu-button">
          <mat-icon>inventory_2</mat-icon>
          <span>Inventory Overview</span>
        </button>
        <br></a>
      <a href="/admin">
        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <br></a>
      <a href="/project-overview">
        <button mat-button class="menu-button">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </a>
    </mat-menu>

    <span>Inventory Overview</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</header>

<mat-tab-group>
  <mat-tab label="Components">
  </mat-tab>
  <mat-tab label="Templates">
    <div class="inventory-cards">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Fields">
    <button mat-button>Add Field</button>
  </mat-tab>
</mat-tab-group>

<app-footer></app-footer>
