<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="afterMenu" class="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #afterMenu="matMenu" class="bruh">
      <a href="/project-overview">
        <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </a><br>
      <a href="/inventory-overview">
        <button mat-button class="menu-button">
          <mat-icon>inventory_2</mat-icon>
          <span>Inventory Overview</span>
        </button>
        <br></a>
      <a href="/admin">
        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <br></a>
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <span>Inventory Overview</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</header>

<mat-tab-group>
  <mat-tab label="Components">
    <button mat-raised-button class="inventory-button" (click)="openDialogComponent()">Add Component</button>
    <div class="lol" *ngFor="let component of allComponents">
      <div class="inventory-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <div class="inventory-sub-cards">
              <mat-card-title><b>Component Name:</b> {{component.name}}</mat-card-title>
              <mat-card-subtitle><b>Author:</b> {{component.author.firstname}}</mat-card-subtitle>
              <mat-card-subtitle><b>Template:</b> {{component.Template.name}}</mat-card-subtitle>
              <div class="inventory-cards-content">
                <div *ngFor="let field of component.Template.Fields">
                  <mat-card-subtitle><b>Field:</b> {{field.fieldName}}</mat-card-subtitle>
                  <div *ngFor="let answer of field.FieldAnswers">
                    <mat-card-subtitle><b>Answer:</b> {{answer.answer}}</mat-card-subtitle>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Templates">
    <button mat-raised-button class="inventory-button" (click)="openDialogTemplates()">Add Templates</button>
    <button mat-raised-button class="inventory-button" (click)="openDialog()">Add Field</button>
    <div class="lol" *ngFor="let template of allTemplates">
      <div class="inventory-cards">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <div class="inventory-sub-cards">
              <mat-card-title>Template: {{template.name}}</mat-card-title>
              <div class="inventory-cards-content">
                <mat-card-subtitle><b>Fields</b></mat-card-subtitle>
                <div *ngFor="let field of template.Fields">
                  <mat-card-subtitle>{{field.fieldName}}</mat-card-subtitle>
                </div>
              </div>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<app-footer></app-footer>
