<h1 mat-dialog-title>Field Details</h1>

<div mat-dialog-content>

<mat-form-field>
  <mat-label>Component name</mat-label>
<!--  <input matInput [(ngModel)]="data.componentName">-->
</mat-form-field>
<mat-form-field>
  <mat-label>Field name</mat-label>
<!--  <input matInput [(ngModel)]="data.fieldName">-->
</mat-form-field>
<div mat-dialog-actions>
<!--  <button mat-button (click)="onNoClick()">Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="data.fieldName" cdkFocusInitial>Submit</button>-->
</div>
</div>
