<app-header></app-header>
<div class="wrapper">
  <form [formGroup]="form" class="form-signin">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" formControlName="email" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""  formControlName="password" />
    <button class="btn" type="submit" (click)="authenticate()">Login</button>
  </form>
</div>
<app-footer></app-footer>
