<h1 mat-dialog-title>Create component</h1>
<div mat-dialog-content>
  <p>Component details</p>
  <mat-form-field>
    <mat-label>component name</mat-label>
    <input matInput [(ngModel)]="data.comName">
  </mat-form-field><br>
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-label>Attachment</mat-label>-->
  <!--    <textarea matInput [(ngModel)]="data.comDesc"></textarea>-->
  <!--  </mat-form-field>-->
  <mat-label>Template</mat-label>
  <mat-select [formControl]="template">
    <mat-option value="primary">Primary</mat-option>
    <mat-option value="accent">Accent</mat-option>
    <mat-option value="warn">Warn</mat-option>
  </mat-select><br>
  <label for="input-file-id" class="md-button md-raised md-primary">Attachment</label><br>
  <input  class="ng-hide" id="input-file-id" multiple type="file" />
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.comName" cdkFocusInitial>Create</button>
</div>
